* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

:root {
  --flex: flex;
  --gray: gray;
  --italic: italic;
}

h1 {
  padding: 20px;
  margin: 40px auto;
  margin-left: 80px;
  font-size: 50px;
  font-style: var(--italic);
  text-decoration: underline;
}

.main-container {
  display: var(--flex);
  height: 100%;
  justify-content: space-evenly;
}

.container1 {
  display: var(--flex);
  flex-direction: column;
}

.scores {
  display: var(--flex);
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.refresh-btn {
  padding: 3px;
}

.refresh-btn,
.form-btn {
  cursor: pointer;
}

button:hover {
  background: blueviolet;
  color: aliceblue;
}

.added-scores {
  border: 1px solid var(--gray);
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
}

.added-scores li {
  list-style: none;
  padding: 8px;
}

.added-scores li:nth-child(even) {
  background: rgba(197, 194, 194, 0.618);
}

.container2,
#form {
  display: var(--flex);
  flex-direction: column;
}

h2 {
  padding: 10px;
  margin: 15px auto;
  font-size: 25px;
  font-style: var(--italic);
}

#form input {
  margin: 8px auto;
  width: 100%;
}

input[placeholder] {
  padding: 5px;
}

.form-btn {
  margin-top: 2px;
  width: fit-content;
  padding: 3px;
  align-self: flex-end;
}
